[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
xgboost = "*"
yfinance = "*"
flask = "*"
gunicorn = "*"
tqdm = "*"

[dev-packages]
jupyter = "*"
seaborn = "*"

[requires]
python_version = "3.12"
